http://api.kawaiimonkey.top {
    reverse_proxy webapi:3000
}

http://frontend.kawaiimonkey.top {
    reverse_proxy frontend:3000
}

http://grafana.kawaiimonkey.top {
    reverse_proxy grafana:3000
}

http://file-service.kawaiimonkey.top {
    reverse_proxy file-service:3000
}

http://candidate.kawaiimonkey.top {
  reverse_proxy frontend:3000
}

http://manager.kawaiimonkey.top {
  reverse_proxy frontend:3000
}

http://client.kawaiimonkey.top {
  reverse_proxy frontend:3000
}